# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE workspace DIR
.idea/

# Preparatory files for Private Git Access
functions/*/bin
prep/*
!prep/Makefile